header {
    width: 100%;
    position: relative;
    background-color: white;

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:first-child {
            padding: 2rem 0;
            border-bottom: 1px solid rgb(233, 233, 233);
        }
    }

    a {
        font-weight: 500;
    }
}


.hamburger-menu {
    width: 3rem;
    height: 2rem;
    right: 5%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    cursor: pointer;
    // background-color: grey;

    .line1,
    .line2,
    .line3 {
        width: 3rem;
        height: 2px;
        background-color: grey;
    }
}

.sidebar {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    transition: left 0.3s ease-in-out;

    .closeBtn {
        position: absolute;
        cursor: pointer;
        top: 1.5%;
        right: 8%;

        p {
            font-style: italic;
            font-size: 1.5rem;
            font-weight: 500;
        }

        span {
            color: $color-hover;
            font-style: normal;
            font-size: 2.6rem;
            font-weight: 700;
            margin-left: 0.5rem;
        }
    }
}

.sidebarBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: space-between;

    .top {
        margin-bottom: 2rem;
    }

    a {
        color: $color-body;
        padding: 1.2rem 1.2rem 0;
    }
}

.sideNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 12rem;

    .side-items,
    .side-links {
        padding: 2.5rem;
    }

    .side-links {
        color: $color-body;
        font-size: 1.6rem;
    }
}

.left-panel a,
.right-panel a {
    padding: 1.4rem;
    font-size: 1.3rem;
    color: $color-light-med;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: $color-hover;
    }
}

.left-panel a:first-child {
    padding-left: 0;
}

.right-panel a:last-child {
    padding-right: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-links {
        padding: 2rem;
        color: $color-body;
        transition: color 0.3s ease-in-out;

        &:last-child {
            padding-right: 0;
        }

        &:hover {
            color: $color-hover;
        }
    }
}



@media screen and (max-width: 768px) {

    nav {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .row:first-child {
        display: none;
    }
}