@mixin transition($attribute) {
    transition: $attribute 0.3s ease-in-out;
}

@mixin transition2($attribute, $duration) {
    transition: $attribute $duration ease-in-out;
}

@mixin posAbsolute ($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin backgroundCover ($url) {
    background: "$url";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}