// Font Variables -------- fm - Font Family -- fs - Font Size -- fw - Font Weight -------

$fm-body : "Segoe UI",
sans-serif;

$fm-primary : 'Oswald',
sans-serif;

$fm-secondary : "Segoe UI",
sans-serif;

$fs-h1 : 4rem;
$fs-h2 : 3.2rem;
$fs-h3 : 2.4rem;
$fs-h4 : 1.8rem;
$fs-h5 : 1.5rem;
$fs-h6 : 1.2rem;

$fs-body : 1.4rem; // Paragraphs
$fs-topbar : 1.2rem;
$fs-btn : 1.4rem;
$fs-subheading : 1.5rem;
$fs-ftr-list : 1.2rem;

// Color Variables -----------------------------------------------------------------------

$color-gradient-primary: linear-gradient(to top, #2A41FF, transparent);
$color-gradient-secondary : linear-gradient(to right, #3264f5 2%, #7202bb 82%);
$color-scrollbar : #eee;
$color-scrollThumb : rgb(0, 84, 211);

$color-primary : #2A41FF;
$color-secondary : #121212;
$color-light-lt : #F5F5F5;
$color-light-med : #e0e0e0;
// $color-light-high : #f7f7f7;
$color-Dark-lt :#202020;
$color-Dark-med : #121212;
$color-Dark-high : #000000;
$color-accent : #585858;
$color-footer : #202020;
$color-ftr-text : #a8a8a8;
$color-body : #2c2c2c;
$color-hover : #2A41FF;

$color-btn-primary :#2A41FF;
$color-btn-secondary :#121212;
// $color-btn-hover : #;

// Dimentions Variables ------------------------------------------------------------------

// $width-container : 1140px;
$section-padding : 5rem;


// Box Shadow ----------------------------------------------------------------------------

$box-shadow: 0 .5rem 1rem rgba(black, .15);
$box-shadow-sm: 0 .125rem .25rem rgba(black, .075);
$box-shadow-lg: 0 1rem 3rem rgba(black, .175);